= form_with(model: genre) do |form|
  - if genre.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(genre.errors.count, "error")
        prohibited this genre from being saved:
      %ul
        - genre.errors.each do |error|
          %li= error.full_message
  %div.form-group.field.w-25
    = form.label :definition, "Descripción", style: "display: block", required: true
    = form.text_field :definition, class: "form-control"
  %div
    = form.submit :Guardar, class: 'btn btn-primary'
