%h1 Sign in
= form_with(model: @user) do |form|
  %div
    = form.label :email, style: "display: block", required: true
    = form.text_field :email
  %div
    = form.label :contraseña, style: "display: block", required: true
    = form.text_field :password
  %div
    = form.submit
