<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>First surname:</strong>
    <%= author.first_surname %>
  </p>

  <p>
    <strong>Second surname:</strong>
    <%= author.second_surname %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= author.birth_date %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= author.nationality %>
  </p>

</div>
