<div id="<%= dom_id author %>">
  <p>
    <strong>Nombre:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Primer apellido:</strong>
    <%= author.first_surname %>
  </p>

  <p>
    <strong>Segundo apellido:</strong>
    <%= author.second_surname %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= author.birth_date %>
  </p>

  <p>
    <strong>Nacionalidad:</strong>
    <%= author.nationality %>
  </p>

</div>
