%div{:id => "#{dom_id author}"}
  %p
    %strong Nombre:
    = author.name
  %p
    %strong Primer apellido:
    = author.first_surname
  %p
    %strong Segundo apellido:
    = author.second_surname
  %p
    %strong Fecha de nacimiento:
    = author.birth_date
  %p
    %strong Nacionalidad:
    = author.nationality
