= form_with(model: author) do |form|
  - if author.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(author.errors.count, "error")
        prohibited this author from being saved:
      %ul
        - author.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :nombre, style: "display: block", required: true
    = form.text_field :name
  %div
    = form.label :primer_apellido, style: "display: block"
    = form.text_field :first_surname
  %div
    = form.label :segundo_apellido, style: "display: block"
    = form.text_field :second_surname
  %div
    = form.label :fecha_de_nacimiento, style: "display: block"
    = form.date_field :birth_date
  %div
    = form.label :nacionalidad, style: "display: block"
    = form.text_field :nationality
  %div
    = form.submit
