<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Editar autor", edit_author_path(@author) %> |
  <%= link_to "Ver todos los autores", authors_path %>

  <%= button_to "Eliminar autor", @author, method: :delete %>
</div>
