= form_with(model: user) do |form|
  - if user.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :nombre, style: "display: block"
    = form.text_field :name
  %div
    = form.label :primer_apellido, style: "display: block"
    = form.text_field :first_surname
  %div
    = form.label :segundo_apellido, style: "display: block"
    = form.text_field :second_surname
  %div
    = form.label :email, style: "display: block"
    = form.text_field :email
  %div
    = form.label :contraseña, style: "display: block"
    = form.text_field :password
  %div
    = form.label :teléfono, style: "display: block"
    = form.number_field :telephone
  %div
    = form.label :dirección, style: "display: block"
    = form.text_field :address
  - if Current.user.present? && Current.user.role == "admin"
    %div
      = form.label :role, style: "display: block"
      = form.text_field :role
  %div
    = form.submit
