%div{:id => "#{dom_id user}"}
  %p
    %strong Nombre:
    = user.name
  %p
    %strong Primer apellido:
    = user.first_surname
  %p
    %strong Segundo apellido:
    = user.second_surname
  %p
    %strong Email:
    = user.email
  %p
    %strong Contraseña:
    = user.password
  %p
    %strong Teléfono:
    = user.telephone
  %p
    %strong Dirección:
    = user.address
  - if Current.user.present? && Current.user.role == "admin"
    %p
      %strong Role:
      = user.role
