%p{:style => "color: green"}= notice
= render @user
- if Current.user.present?
  %div
    = link_to "Editar perfil", edit_user_path(@user)
    - if Current.user.present? && Current.user.role == "admin"
      |
      = link_to "Eliminar cuenta", @user, method: :delete
      |
      = link_to "Ir a usuarios", users_path
