%p{:style => "color: green"}= notice
= render @user
- if Current.user.present?
  %div
    = link_to "Editar perfil", edit_user_path(@user)
    |
    = link_to "Ver pedidos", shoping_path
    |
    = button_to "Eliminar cuenta", @user, method: :delete, class: "btn btn-link" 
    - if Current.user.present? && Current.user.role == "admin"
      |
      = link_to "Ir a usuarios", users_path
