= form_with(model: order) do |form|
  - if order.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :id_usuario, style: "display: block", required: true
    = form.text_field :user_id
  %div
    = form.label :estado, style: "display: block", required: true
    = form.text_field :state
  %div
    = form.submit
