%div{:id => "#{dom_id order}"}
  %p
    %strong User:
    = order.user_id
  %p
    %strong State:
    = order.state

  %p
    %strong Books: 
    - order.books.each do |book|
      = "- #{book.title}, #{book.price}€"
      = link_to "Eliminar", delete_shoping_path(book), class: 'btn.btn-primary.my-2.my-sm-0'
      %br/
  %p
    %strong Importe: 
    - @totalsum = order.books.map { |book| book.price }.sum
    = "#{@totalsum}€"
