<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre_id %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>N pages:</strong>
    <%= book.n_pages %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

</div>
