%div{:id => "#{dom_id book}"}
  %p
    = image_tag book.image.url, size: "400x400", alt: book.title
  %p
    %strong Título:
    = book.title
  %p
    %strong Autor:
    = book.author.name
  %p
    %strong Géneros: 
    -# - book.genres.each do |genre|
    -#   %li.list-group-item=  "'#{genre.definition}', "
    = book.genres.collect(&:definition)
  %p
    %strong Fecha de publicación:
    = book.publication_date
  %p
    %strong Número de páginas:
    = "#{book.n_pages} pags"
  %p
    %strong Sinopsis:
    = book.synopsis
  %p
    %strong Precio:
    = "#{book.price} €"
  #buttons.container.d-flex.justify-content-evenly
    - if Current.user.present? && Current.user.role == "admin"
      = link_to book, class: "btn btn-primary m-1" do
        %i.bi.bi-eye-fill
      = button_to edit_book_path(book), method: :get, class: "btn btn-primary m-1" do 
        %i.bi.bi-pencil-fill
      = button_to book, method: :delete, class: "btn btn-primary m-1" do
        %i.bi.bi-trash-fill
    - else
      = link_to "Añadir al carro", {:controller => "shopings", :action => "index", :id => book.id}, class: "btn btn-primary m-1"