%div{:id => "#{dom_id book}"}
  .card{:style => "width: 18rem;"}
    %img.card-img-top{:alt => book.title, :src => book.image.url, style: "width: 100%; height: 222px"}/
    -# 12vw
    .card-body
      %h2.card-title= book.title
      %h4.card-subtitle.mb-2.text-body-secondary= "#{book.author.name}"
      %h5.card-body= "#{book.price} €"
      #buttons.container.d-flex.justify-content-evenly
        - if Current.user.present? && Current.user.role == "admin"
          = link_to book, class: "btn btn-primary m-1" do
            %i.bi.bi-eye-fill
          = button_to edit_book_path(book), method: :get, class: "btn btn-primary m-1" do 
            %i.bi.bi-pencil-fill
          = button_to book_path(book,format: :js), method: :delete, remote: true, class: "btn btn-primary m-1" do
            %i.bi.bi-trash-fill
            
        - else
          = link_to book, class: "btn btn-primary m-1" do
            %i.bi.bi-eye-fill
          = link_to "Añadir al carro", {:controller => "shopings", :action => "index", :id => book.id}, class: "btn btn-primary m-1"
