= form_with(model: book) do |form|
  - if book.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :portada, style: "display: block", required: true
    = form.file_field :image
  %div
    = form.label :título, style: "display: block", required: true
    = form.text_field :title
  %div
    = form.label :id_autor, style: "display: block", required: true
    = form.text_field :author_id
  %div
    = form.label :géneros, style: "display: block"
    - puts "es que no puedo sacar los género? #{@genres.inspect}"
    - @genres.each do |genre|
      = check_box_tag genre.definition, genre.id
-# <%= f.flieds_for :genres do |g| %>
-# <div class="row">
-#   <div class="col-md-3">
-#     <div class="form-goup">
-#       <%= g.label :genre_one, "Genre 1", :class => "" %>
-#       <%= p-field :genre_one, {class: "form-control", :style => ""} %>
-#     </div>
-#   </div>
-# </div>
-# <% end %>

-# <%= f.flieds_for :genres do |g| %>
-#  <%= g.label :definición, style: "display: block" %>
-#  <%= g.text_filed :definition %>
-# <% end %>
  %div
    = form.label :fecha_de_publicación, style: "display: block", required: true
    = form.date_field :publication_date
  %div
    = form.label :número_de_páginas, style: "display: block", required: true
    = form.number_field :n_pages
  %div
    = form.label :sinopsis, style: "display: block", required: true
    = form.text_area :synopsis
  %div
    = form.label :precio, style: "display: block", required: true
    = form.text_field :price
  %div
    = form.submit
